<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Resultado del Analizador Léxico y Sintáctico</title>
    <th:block th:include="base.html"></th:block>
</head>
<body class="d-flex flex-column min-vh-100 bg-light justify-content-center">
    <div class="container bg-white rounded p-4 shadow">
        <h2 class="mb-3">Resultado del Análisis Sintáctico</h2>

        <div th:if="${esHolaMundo}">
            <p class="alert alert-success">El código tiene una sintaxis correcta de C++.</p>
        </div>
        <div th:unless="${esHolaMundo}">
            <p class="alert alert-warning">El código no tiene una sintaxis correcta de C++.</p>
        </div>

        <h3 class="mt-4">Resultado del Análisis Léxico</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Token</th>
                    <th>Tipo</th>
                </tr>
            </thead>
            <tbody>
                <tr th:each="token : ${tokens}">
                    <td th:text="${token.value}"></td>
                    <td th:text="${token.type}"></td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
